body{
    background-image: url('https://img.freepik.com/premium-photo/arrangement-desk-elements-with-empty-notepad-yellow-background_23-2148513272.jpg?w=1060');
    background-size:cover;
    background-repeat: no-repeat;
    
}